{% extends 'partials/base.html' %}
{% block title %}Resend OTP{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="cover">
<div class="container">
    <div class="row mt-5 pt-5 justify-content-center">
        <div class="col-md-4 ">
<div class="card shadow my-3">
    <div class="card-body">
        <h4>Verify OTP</h4>
        <form method="post">
            {% if message %}
            <div class="alert alert-{{class}}" >{{message}}</div>
            {% endif %}
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-secondary btn-block" type="submit" value="Login">
            <a href="{% url 'users-login' %}">resend</a>
        </form>
        
    </div>
</div>
</div>
</div>
</div>  
</div>