<nav class="navbar navbar-expand-lg navbar-primary bg-primary fixed-top  ">
  <div class="container ">
    {% if request.user.is_authenticated %}
      <a class="navbar-brand text-white" href="{% url 'index' %}">POSTScribers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'myblog' %}">My Blog <span class="sr-only">(current)</span></a>
            </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'users-profile'%}">{{ request.user.username}} <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'users-logout'%}">Logout</a>
              </li>
          </ul>
      </div>
      {%else%}
       <a class="navbar-brand text-white" href="/">POSTScribers</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'users-signup'%}">Signup <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'users-login'%}">Login</a>
            </li>
        </ul>
        {%endif%}
    </div>
  </div>
 
</nav>
