{% extends 'partials/base.html' %}
{% block title %}Index Page{% endblock %}



    {% block content %}
    <div class="container">
        <div class="row mt-5 pt-5 ">
            <div class="col-md-4">
                
            </div>
            <div class="col-md-8">
                {% if post%}
                {% for p in post %}
                <div class="card shadow my-3">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-thumbnail" src="{{ p.author.profilemodel.image.url }}" alt="Profile-Img">
                            </div>
                            <div class="col-md-8">
                               <small>{{p.date_created}}</small>
                               <hr>
                               <a class="h3" href="{% url 'blog-detail' p.id%}">{{p.title}}</a>
                               <p class="text-justify my-3">{{p.content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div><h5>You does not have any posts </h5></div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}
